YS*/
*~
*.pyc
*.log
polyMesh/
dynamicCode/
*.stl
*.eMesh
bolund2D/bolund_simpleFoam/system/sliceDict
.idea/
tf_test/data/
tmp/
tf_test/fig/
openfoam_slicer/csv
openfoam_slicer/cases
openfoam_slicer/cases3d
*.swp
